.HeaderForm h3{
    color: #E2703A;
}

.HeaderForm button{
    color: #E2703A;
}

.HeaderForm .sign-InBtn{
    background-color: #EEB76B;
}

.HeaderForm .sign-InBtn:hover{
    background-color: #E2703A;
    color: #EEB76B;
}

.HeaderForm .log-InBtn{
    border: #EEB76B solid 1px;
}

.HeaderForm .log-InBtn:hover{
    border: #E2703A solid 1px;
    color: #EEB76B;
}

.HeaderForm a{
    text-decoration: none;
}

.HeaderForm .logo-header:hover{
    color: #EEB76B;
}